<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <style>
    .hovers:hover {
      background-color: orange;
    }



    .fixedFooter {
      color: black;
      margin-top: 10px;
      opacity: 0.8;
    }

    .footerContainer {
      font-weight: 500;
      font-size: 12px;
      margin-top: 250px
    }

    .points {
      color: white;
      font-size: smaller;
      border: 1px solid white;
      border-radius: 10px;
      text-align: 'justify';
      padding: 10px;
      flex-basis: 85%;
    }

    .aboutus {
      color: white;
      font-size: small;
      text-align: justify;
      margin-left: 45px;
    }

    .about {
      margin-top: 80px;
      padding: 20px;
      border-radius: 20px;
      margin-bottom: 100px;
    }

    .column {
      display: flex;
      justify-content: center;
      /* align-self: center; */
      height: 80px;
      align-items: center;
    }
  </style>

</head>

<body id="page-top" style="overflow: hidden;">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container" style="max-width: 1400px;">
      <a class="navbar-brand js-scroll" href="#"><img src='../../../../assets/img/mahaviketa.png'
          style="width: 100px; height: 60px;"></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll"
              href="https://play.google.com/store/apps/details?id=com.mahavikrataretailer">Download App</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" routerLink="/home/sign-in">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: linear-gradient(to top left,#ffa500,#ffa500);">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="row">
          <div class="col-6">
            <div class="container">
              <h1 class="intro-title mb-4" style="margin-left: 55px; margin-top: 100px; text-align: left;">Mahavikreta
              </h1>
              <div class="container">
                <p class="aboutus">Mahavikreta is a business-to-business
                  e-commerce platform that has been
                  designed
                  for catering to the needs of traders, retailers and other resellers. Currently, mahavikreta is
                  operating in
                  categories like agrochemical, seeds and pharmaceutical. Mahavikreta aims to solve trade problems
                  faced by
                  small and medium businesses that are specific to these category businesses. We focus on solving
                  these specific
                  problems by leveraging technology and bringing the benefits of E-Commerce to them. We aim to
                  enable
                  transparency, accessibility, affordability and national reach to retailers, stores, pharmacies and
                  resellers.
                  We offer a wide range of products in these categories at competitive prices and the convenience of
                  delivery at
                  your doorstep. We currently deliver to multiple locations in Madhya Pradesh and Maharashtra.
                </p>
              </div>


            </div>
          </div>

          <div class="col-6">
            <section id="service" class="services-mf route">
              <div class="container about">

                <h3
                  style="margin-top: 110px; margin-left: 5px; color: 'white'; text-align: center; font-size: x-large;">
                  Why Mahavikreta?</h3>
                <div style="margin-top: 60px; padding-right: 40px">
                  <div class="row">
                    <div class="col-sm-6 column">
                      <h4 class="hovers points">
                        100% genuine goods
                      </h4>
                    </div>
                    <div class="col-sm-6 column">
                      <h4 class="hovers points">
                        Thousands of products
                      </h4>
                    </div>



                  </div>
                  <div class="row">

                    <div class="col-sm-6 column">
                      <h4 class="hovers points">
                        Ship to multiple addresses
                      </h4>
                    </div>

                    <div class="col-sm-6 column">
                      <h4 class="hovers points">
                        Bulk orders and Wholesale prices
                      </h4>
                    </div>



                  </div>

                  <div class="row">
                    <div class="col-sm-6 column">
                      <h4 class="hovers points">
                        Invoices with customer GST number
                      </h4>
                    </div>
                    <div class="col-sm-6 column">
                      <h4 class="hovers points">
                        Pay with NEFT/RTGS, Net Banking or Cash
                      </h4>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-sm-6 column">
                      <h4 class="hovers points">
                        Order via WhatsApp business AI Bot App
                      </h4>
                    </div>
                    <div class="col-sm-6 column">
                      <h4 class="hovers points">
                        Order updates via WhatsApp Business AI Bot and email
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

        </div>
      </div>

    </div>
  </div>

  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Easy Steps
            </h3>
            <p class="subtitle-a">
              Start Shopping in Simple Steps
            </p>
            <p class="subtitle-a">
              Download App and follow below steps!
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <!-- <a href="../../../../assets/DevFolio/img/work-1.jpg" data-lightbox="gallery-mf"> -->
            <div class="work-img">
              <img src="../../../../assets/DevFolio/img/work-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <!-- <a routerLink="/home/sign-in"> -->
                  <h2 class="w-title">Register</h2>
                  <!-- </a> -->
                  <div class="w-more">
                    <span class="w-ctegory">Register using your mobile number. Enter your Name, Shop name.</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-person-outline">

                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- </a> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <!-- <a href="../../../../assets/DevFolio/img/work-2.jpg" data-lightbox="gallery-mf"> -->
            <div class="work-img">
              <img src="../../../../assets/DevFolio/img/work-2.jpg" alt="" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">KYC</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Upload any one of shop's KYC documents like GSTIN</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- </a> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <!-- <a href="../../../../assets/DevFolio/img/work-3.jpg" data-lightbox="gallery-mf"> -->
            <div class="work-img">
              <img src="../../../../assets/DevFolio/img/work-3.jpg" alt="" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Start Ordering</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Browse and order products for your shop from top sellers & brands</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- </a> -->
          </div>
        </div>

      </div>
    </div>
  </section>


  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route"
    style="background-image: url(../../../../assets/DevFolio/img/overlay-bg.jpg); margin-bottom: 30px">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Send Message Us
                    </h5>
                  </div>
                  <div>
                    <form action="" method="post" role="form" class="contactForm">
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                              data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                              data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                              data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required"
                              data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span> GA Trade Links Private Limited, Tower building, UG-09
                        highway, AB Road, Indore, Madhya Pradesh 452001</li>
                      <li><span class="ion-ios-telephone"></span> +91 86299 33012</li>
                      <li><span class="ion-email"></span> notification@mahavikreta.com</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </section>

  <footer class="container-fluid fixed-bottom" style="background-color: aliceblue; color: black; height: 1px">

    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">
        <div class="copyright-box">
          <p class="copyright" style="margin-top: 20px">&copy; Copyright <strong>Mahavikreta</strong>. All Rights
            Reserved</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-6">
            <a class="nav-link js-scroll" routerLink="/home/terms">
              <p class="fixedFooter">Terms & Conditions</p>
            </a>
          </div>
          <div class="col-6">
            <a class="nav-link js-scroll" routerLink="/home/policy">
              <p class="fixedFooter">Privacy Policy</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


</body>

</html>