<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i>Promotion Type List
              <div class="new-button">
                <button type="button" class="btn btn-block btn-orange-theme" (click)="create()">New</button>
              </div>
            </div>
            <div class="card-body">
            <app-table [cols]="cols" [dataSource]="dataSource" [totalElement]="totalElement" (onSortPaginateEvent)="getList($event)" [isEdit]="true" (editEvent)="edit($event)"></app-table>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
    </div>
    