<section id="service" class="services-mf route">
    <div class="container">
      <a routerLink="/home">
      <i class="fa fa-arrow-circle-left" style="font-size:48px;color:black; margin-top: 20px"></i>
    </a>
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a" style="margin-top: 10px;">
              Terms & Condtions
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="container"
        style="background-color: 'white'; text-align: justify; padding: 80px; border-radius: 20px; margin-bottom: 100px;">

        <h3 style="margin-bottom: 30px; margin-top: 30px; ">A. GENERAL TERMS AND CONDITIONS</h3>
        <h5 style="margin-bottom: 30px; margin-top: 30px; font-size: 13px; text-align: justify; ">The terms and conditions
          provided herein ("Terms and Conditions") are all the terms and conditions that
          shall govern the transactions / dealings in the nature of sale made by GA Trade Links Private Limited, a
          private limited company incorporated under the laws of India, and having its registered address at UG- 09
          HIGHWAY TOWER BUILDING NAVLAKHA SQAURE INDORE MADHYA PRADESH 452001 ("MAHAVIKRETA", which expression shall,
          unless repugnant to the context or meaning thereof, include its Affiliates and permitted assigns) and the
          purchases made by the entity which has duly filled up the Registration Form above ("Customer") through email,
          or any other means of communication, exchanged between the Customer and Mahavikreta. For the purpose of these
          Terms and Conditions, the Customer and Mahavikreta have been individually referred to as "party" and
          collectively as the "parties".

        </h5>
        <h5 style="margin-bottom: 30px; margin-top: 30px; font-size: 14px; text-align: justify; ">Mahavikreta is a wholesale
          company engaged in the business of selling products to retailers, industrial,
          commercial, institutional or other professional business users or to other wholesalers and related subordinate
          service providers through Mobile App and WhatsApp business API.

        </h5>
        <h5 style="margin-bottom: 30px; margin-top: 30px; font-size: 14px; text-align: justify; ">These Terms and Conditions
          provide as follows:

        </h5>
        <ol>
          <li> <b>Registration:</b> The Customer shall be eligible to purchase products from Mahavikreta only upon
            receipt
            of a confirmation email or mobile confirmation from Mahavikreta.

          </li>
          <li><b>Quality of products:</b> The Customer can view the description of the products sold by Mahavikreta
            through the
            product description data available on the Mahavikreta App. While Mahavikreta has taken precautions to avoid
            inaccuracies, all content, information, software, products, services and related graphics are provided as
            is, without warranty of any kind and should be used as a guide only. Mahavikreta further expressly disclaims
            any warranties or representations (express or implied) in respect of quality, suitability, accuracy,
            reliability, completeness, timeliness, performance, safety, merchantability, fitness for a particular
            purpose, or legality of the products listed or displayed or transacted, or the content (including product
            information and / or specifications) communicated by Mahavikreta by e-mail or any other means whatsoever.
          </li>
          <li><b>Orders:</b> The Customer shall place orders on the Mahavikreta App and whatsapp business. All orders
            placed by the Customer on the the Mahavikreta App and whatsapp business will constitute a valid and
            confirmed Purchase Order ("Order") and Mahavikreta will consequently take all necessary steps to fulfill the
            Orders in accordance to the timelines committed on the Mahavikreta App, which may be amended by Mahavikreta
            at its sole discretion. The Customer will receive an message on its registered whatsapp number confirming
            the receipt of the Customer's Order and containing the details of the Customer's Order (the "Order
            Confirmation message"). The Order Confirmation message is an acknowledgement that Mahavikreta has received
            the Customer's Order. Mahavikreta will continue to update the Customer with respect to the Order fulfillment
            process by sending update messages on the registered whatsapp mobile number of the Customer. Mahavikreta
            shall have the right to consolidate the items in the Order under a single shipment or undertake part
            shipment of the Orders. The Customer hereby agrees and acknowledges that notwithstanding the foregoing,
            fulfillment of any Order shall be subject to the realization of full payment by the Customer to Mahavikreta
            of all dues relating to that Order. </li>
          <li><b>Cancellation of Orders:</b> Mahavikreta shall have the right to cancel or refuse any Order placed by
            the
            Customer any time before dispatching the products to the shipping address of the Customer. The Customer can
            cancel the Order any time before Mahavikreta has initiated the dispatch of the products to the shipping
            address of the Customer. The Customer can also modify the payment channels in relation to the Order any time
            before Mahavikreta has initiated the process for dispatching the Order. </li>
          <li>
            <b>Prices and Margin:</b> All products are sold subject to the relevant prices displayed on the Mahavikreta
            App
            at the time the Order is placed by the Customer. Mahavikreta reserves the right to increase the price of the
            products at any time by updating the details displayed on the Mahavikreta App. Any additional and / or
            ancillary charges, if any, such as delivery charges, the cost of certain forms of packing etc. will be added
            to tax invoice and shall form part of the above sale price.
          </li>
          <li>

            <b>Margin percentage mentioned on any product detail page on the Mahavikreta App is calculated in the
              following
              manner:</b>
            <br />
            <p style="text-align: 'center';">Margin % = (MRP/BILLING PRICE – Selling Price)*100 / Selling Price</p>

          </li>
          <li><b>
              Delivery of the products:</b> The ordered products shall be delivered by Mahavikreta to the shipping
            address
            specified by the Customer in accordance with the terms agreed upon by Mahavikreta and the Customer in
            writing from time to time. Every shipping address of the Customer would need to be registered by adhering to
            the prescribed process.


          </li>
          <li> <b>Transfer of Title and Risk of Loss:</b> Notwithstanding anything contained in these Terms and
            Conditions, the
            title and risk of loss of the products shall be passed and transferred to the Customer from the time such
            product reaches the Customer's shipping address from the Mahavikreta authorized carrier(s). In case of
            return of the products in accordance with the provisions of these Terms and Conditions to Mahavikreta, the
            risk of loss and title of the products shall stand transferred to Mahavikreta upon handing over of the
            products by the Customer to the Mahavikreta authorized carrier.</li>
          <li>
            <b>Insurance:</b> The Customer shall be required to maintain adequate insurance for the product once the
            product is
            received by it at its shipping address.
          </li>

          <li>
            <b>Mode of Payment:</b> Once the Customer is registered with Mahavikreta, payments for all the purchases
            shall be
            made by the Customer through banking / payment channels acceptable to Mahavikreta. The Customer may choose
            to make payment of security deposit for supply of goods by Mahavikreta, conditioned on the Customer placing
            an order on the Mahavikreta App. The security deposit shall not be treated as advance payment for supply of
            goods The Customer may ask for the security deposit amount to be returned at any point of time, which shall
            be processed by Mahavikreta though the same banking / payment channels originally used by the Customer. If
            security deposit is applied against supply of goods it will be considered as a consideration for the supply
            of goods. The Customer shall update its banking / payment information as necessary to ensure that it remains
            accurate and complete at all times. Specific terms in this regard shall be agreed from time to time between
            the parties in writing Mahavikreta may extend additional methods of accepting payments on the Mahavikreta
            App, at any time at its sole discretion. The Customer acknowledges and agrees that it will, at all times,
            provide/ update its own banking / payment information on the Mahavikreta App and not the banking/ payment
            information of any third party.
          </li>
          <li><b>Returns: </b> The Customer may return the product in any of following events: (a) if the product is
            damaged
            when it is delivered to the Customer by Mahavikreta authorized carrier(s); or (b) if the product provided to
            the Customer does not conform to the written specifications of the product as described on the Mahavikreta
            App at the time of purchase. The Customer agrees that a return will be accepted by subject to: (a) the
            Customer informing Mahavikreta of the product complaint and initiating a return within the return timelines
            as published by Mahavikreta on Mahavikreta App from time to time; and (b) the products being returned
            without being tampered and / or used and in the condition in which they were received along with original
            packaging.</li>
          <li> <b>Consequence of Returns: </b> Once the return is accepted by Mahavikreta, it shall, at its sole
            discretion,
            issue a credit note equivalent to the amount of the original invoice (including the applicable Goods and
            Service Tax if such returns are submitted within the timelines as required by Mahavikreta) as a sale
            cancellation. In case of returns, the Customer will have to mandatorily accept the credit note in the
            relevant returns in compliance with applicable Goods and Service Tax laws in order for Mahavikreta to adjust
            the Goods and Service Tax paid on sale of such goods. In case Customer fails to accept the credit note and
            there is any demand from the tax authorities on Mahavikreta on account of the same then the Customer shall
            indemnify Mahavikreta for the amount so demanded along with the applicable interest and penalty.</li>
          <li><b>Registration & Taxes:</b> The Customer agrees that in the event the Goods and Services Tax regime
            requires it
            to register in accordance with the applicable statute, the Customer shall promptly complete such
            registration and shall at all times remain compliant with and responsible in respect of such statute. The
            Customer agree to promptly share the registration number or other unique id/ number with Mahavikreta to
            enable Mahavikreta to undertake relevant compliances. Price Charged is inclusive of applicable national,
            state or local sales or use taxes or value added tax or service tax or GST ("Taxes") that Mahavikreta is
            legally obligated to charge under the applicable laws. The Taxes charged by Mahavikreta will be stated in
            the invoice pursuant to applicable laws. As per the statutory requirement under GST, you shall provide all
            necessary information such as GST registered address, registration numbers, invoice mismatch details etc. in
            a timely manner, to enable Mahavikreta to provide, report or correct GST tax invoices as per legal
            requirements. Based on information provided and the relevant legal provisions, Mahavikreta shall deduce the
            location of recipient, the billing details, place of supply and applicable taxes, including those applicable
            for the transition period. </li>
          <li> <b>Disclaimers to Warranty: </b>Mahavikreta and / or its Affiliates shall neither be liable nor
            responsible in
            any manner for any actions or inactions, breach of terms, obligations, representations or warranties by the
            manufacturers of the products and hereby expressly disclaims any and all responsibility and liability in
            that regard. All products shall have a warranty as may be provided by the manufacturer of such products, if
            any. Mahavikreta shall not be responsible to mediate, or resolve any dispute between the manufacturer of the
            products, the Customer, and the end user of the products. Mahavikreta expressly disclaims: (a) any
            representations, warranties, declarations, or guarantees regarding merchantability, fitness for a particular
            purpose of a product or non-infringement by the product; (b) implied warranties arising out of course of
            dealing, course of performance or usage of trade; and (c) any obligation, liability, right, claim or remedy
            in tort, whether or not arising from Mahavikreta 's negligence.</li>
          <li> <b>Indemnification and Release:</b> The Customer agrees to release from and hold harmless Mahavikreta
            (and its
            officers, directors, employees, agents, and Affiliates) against, any claim, loss, damage, settlement, cost,
            taxes, expense or other liability (including, without limitation, attorneys' and legal fees) arising from or
            related to: (a) its actual or alleged breach of any obligations under these Terms and Conditions; or (b) its
            actual or alleged violation of any laws or the rights of a third party; or (c) any of the actions /
            inactions of the vendors / manufacturers from where the products have been procured by Mahavikreta; or (d)
            breach of the representations and warranties provided under these Terms and Conditions. </li>
          <li> <b>Term and Termination: </b>The term of these Terms and Conditions will commence on the date of the
            Customer
            receiving the Registration Email ("Effective Date") and continue until terminated by either Mahavikreta or
            the Customer as provided herein ("Term"). The Customer agrees that during the Term, Mahavikreta may, at its
            sole discretion (with or without cause) have the right to terminate these Terms and Conditions without
            providing any notice to the Customer. </li>
          <li> <b>Effects of Termination:</b> The Customer agrees that any Documents submitted by it in connection with
            the
            Registration Email will be retained in Mahavikreta records at Mahavikreta 's sole discretion and Mahavikreta
            shall not be obligated to return them to the Customer upon termination of these Terms and Conditions.</li>
          <li><b>Confidentiality:</b> The parties agree that any information (including any written, tangible, and / or
            intangible information) exchanged between or disclosed by either party to the other party from time to time,
            including but not limited to information pertaining to the products being purchased, catalogue prices,
            commercial terms under these Terms and Conditions, shall be the confidential information of the said party
            and either party shall not disclose the same to the public without taking the prior written approval of the
            other party.</li>
          <li> <b>Use and Access of Customer account and password: </b>The Customer's account shall be activated once
            the
            Customer receives a Registration Email. The Customer agrees that the Customer is responsible for maintaining
            the confidentiality of its registered account and password and for restricting unauthorized access or
            activity in relation to its account by any third party, and hereby releases Mahavikreta from any
            responsibility in this regard. Notwithstanding the foregoing, the Customer may allow its authorized
            signatory or person ("Authorized Person") to access its account and password, provided Mahavikreta has
            received all necessary documents / communication evidencing such access. The Authorized Person shall be
            granted all authority to conduct activities in relation to the Customer's account, and the Customer shall at
            all times be bound by and responsible for all actions of the Authorized Person. The Customer agrees to
            accept responsibility for all unauthorized activities that occur under its registered account with
            Mahavikreta, and agrees and undertakes to indemnify GA and / or its Affiliates in the event of any claims
            arising as a result of any unauthorized activity resulting from the Customer's breach of the condition set
            forth hereunder. The Customer shall take all necessary steps to ensure that the password is kept
            confidential and secure and shall inform Mahavikreta immediately if it has any reason to believe that its
            password has become known to anyone else, or if the password is being, or is likely to be, used in an
            unauthorized manner. The Customer should, at all times, ensure that the details being provided by the
            Customer to Mahavikreta are correct and complete and undertakes to inform Mahavikreta immediately of any
            changes to the information that was provided at the time of registration or during the Term in the format /
            manner as may be prescribed by Mahavikreta from time to time. Mahavikreta shall not at any time be liable
            for: (a) any misuse of the registered account of the Customer because of information not being updated by
            the Customer or otherwise; or (b) any actions taken by Mahavikreta pursuant to information provided by the
            Customer (whether at the time of registration or during the Term) including but not limited to actions taken
            by Mahavikreta with respect to processing payments basis the banking / payment information provided /
            updated by the Customer, or actions taken upon acceptance of products returned by the Customers. Mahavikreta
            reserves the right to terminate accounts, cancel membership, remove or edit content at any time without
            notice to the Customer.</li>
          <li><b>Governing Law and Jurisdiction: </b> These Terms and Conditions are governed by the laws of India,
            without
            reference to any applicable conflict of laws. Both parties to these Terms and Conditions agree to submit to
            the exclusive jurisdiction of the Indian courts at Indore, India for disputes arising out of these Terms and
            Conditions.</li>
          <li><b>Relationship between the Parties:</b> Mahavikreta and the Customer are independent contractors engaged
            in a non-exclusive arrangement, and nothing in these Terms and Conditions will be construed to create any
            other relationship between the parties.</li>
          <li><b>Communication: </b>We will send all notices and other communications (including transactional,
            promotional and
            / or commercial communication) to you at the e-mail addresses you designated for notifications and updates
            in your programme application or Your Account respectively, or at the valid phone number provided by you or
            any other means then specified by Mahavikreta. You consent to receive such communications through any mode
            including SMS, e-mail, phone calls etc.

          </li>
        </ol>
        <h3 style="margin-bottom: 30px; margin-top: 30px;">B. OTHER TERMS AND CONDITIONS</h3>
        <h5 style="margin-bottom: 30px; margin-top: 30px; font-size: 14px; ">All other terms and condition
          including the commercial terms (including but not limited to the credit terms, as may be applicable), services
          arrangements and/or any program terms (which you wish to participate), as may be applicable, shall be agreed
          by the parties mutually in writing. Services arrangements and/or any program terms (in which you wish to
          participate) as applicable shall be agreed between you and Mahavikreta or with the related service partner as
          applicable. The Customer agrees and acknowledges that once the commercial terms have been agreed upon by the
          Customer in writing, such agreed terms shall be considered to be an integral part of these Terms and
          Conditions and shall be valid and binding on the parties.

        </h5>
        <h3 style="margin-bottom: 30px; margin-top: 30px;">C. ENTIRE AGREEMENT AND REVISIONS </h3>
        <h5 style="margin-bottom: 30px; margin-top: 30px; font-size: 14px; ">These Terms and Conditions
          represent the entire agreement between the parties with respect to the subject matter described herein and
          supersede any previous or contemporaneous oral or written agreements and understandings. Mahavikreta reserves
          the right to change any of the terms contained in these Terms and Conditions including any commercial terms
          incorporated herein, at any time in its sole discretion. Any changes will be effective upon the earlier to
          occur of: (a) Mahavikreta emailing the revised terms to you on your registered email address; or (b)
          Mahavikreta posting the revised terms on the Mahavikreta Site. The Customer is responsible for reviewing any
          revised terms and any notice of revision that may be posted on the Mahavikreta Site. The Customer's continued
          operation or use of the Mahavikreta Site following Mahavikreta emailing or posting any revised terms or notice
          of revision on the Mahavikreta Site, will constitute the Customer's acceptance of the revised Terms and
          Conditions. If the Customer does not agree to any changes in these Terms and Conditions, the Customer must not
          continue to transact or use the Mahavikreta Site, and must give Mahavikreta notice in writing immediately
          within a period of 5 (five) days from the receipt of Mahavikreta 's email or posting of the revised terms or
          the notice of revision on the Mahavikreta Site, whichever occurs earlier.

        </h5>
        <h5 style="margin-bottom: 30px; margin-top: 30px; font-size: 14px; ">The authorized representatives
          of Mahavikreta and the Customer agree to the above Terms and Conditions on the day the Customer confirms their
          acceptance through the mode made available by Mahavikreta.
        </h5>
        <h3 style="margin-bottom: 30px; margin-top: 30px;">D. TERMS OF GUARANTEE ( Partner-Retailer Terms and
          Conditions) </h3>
        <h5 style="margin-bottom: 30px; margin-top: 30px; font-size: 14px;">This Terms of Guarantee
          (hereinafter, "Agreement") constitutes an agreement between the person or entity mentioned on the payment
          selection page of www.mahavikreta.com ("we", or "us", or "our"), and you or the legal entity you represent
          ("you", or "your") (collectively, "Parties" and individually, "Party"). </h5>
        <h5 style="margin-bottom: 30px; margin-top: 30px; font-size: 14px;">By choosing to purchase
          products on www.mahavikreta.com ("website") on payment terms (defined hereinafter), you, on behalf of yourself
          or the entity that you represent, expressly agree to be bound by and become a party to this agreement and you
          acknowledge and agree that you have read the terms and conditions of this agreement carefully and provide your
          consent to be bound by this agreement, including all terms and conditions incorporated by reference in this
          agreement.</h5>
        <h5 style="margin-bottom: 30px; margin-top: 30px; font-size: 14px; ">
          This agreement is in nature of an electronic record in accordance with the provisions of the information
          technology act, 2000 and rules and regulations made thereunder, and is generated by a computer system and does
          not require any physical or digital signature to be deemed as authentic. now it is hereby agreed by and
          between you and us as follows:
        </h5>


        <ol style="letter-spacing: 2; ">
          <li> You have agreed to purchase product(s), available on the Website, from GA Trade Links Private Limited
            ("MAHAVIKRETA") on the set payment limit and payment period ("Payment Terms") and, in connection with which,
            you hereby request and we will provide an unconditional and irrevocable guarantee in favour of Mahavikreta
            (including its affiliates) ("Guarantee") for due performance of your obligations, i.e., making payment
            within the due date + grace period (as appearing on any Mahavikreta transaction document and/or invoice
            against you), arising from the Mahavikreta.com Terms and Conditions that governs your purchase of product(s)
            on the Website on Payment Terms (such obligation of yours, are hereinafter referred to as "Payment
            Obligation"), in accordance with the terms provided hereunder.

          </li>
          <li>In the event we are required to incur or suffer any loss, claim or demand arising from or in relation to
            breach of your Payment Obligation towards Mahavikreta (collectively, "Claim"), as a result of or in
            connection with us having to, from time to time, comply with the requirements of the Guarantee, you (as the
            primary obligor) hereby agree to indemnify us against any such Claim (including any accrued interest, costs,
            charges, fees and expenses) and, in particular, you will, in respect of each and every amount (a
            "Disbursement") paid by us under or pursuant to such Guarantee obligation to Mahavikreta, pay to us on our
            first demand (whether orally or in writing) a sum equal to such Disbursement without any demur, protest or
            delay.
          </li>
          <li>Not with standing any dispute raised by you as to your Payment Obligation towards Mahavikreta or direction
            provided to us to the contrary, you irrevocably and unconditionally authorize us to permit Mahavikreta to
            avail the Disbursements immediately upon your failure to fulfil your Payment Obligations towards
            Mahavikreta, irrespective of any specific demand made by Mahavikreta on us. </li>
          <li>It will not be a defence to any claim made by us hereunder in relation to a Disbursement, that there was
            no debt due from you to Mahavikreta against which the Disbursement was made to Mahavikreta or that any such
            debt was not due in the amount claimed by Mahavikreta or was subject to any set-off or counter claim as
            between you and Mahavikreta or that for any other reason we were not bound to make such Disbursement or not
            bound to make it in the amount claimed by Mahavikreta.
          <li>
            This Agreement will be in addition to and not in substitution for or derogation of any other guarantee,
            indemnity or security (whether given by you or otherwise), from time to time, now or hereafter, held by us
            in respect of or in connection with the provisions of this Agreement.
          </li>
          <li>

            This Agreement will remain in full force and effect until you fully pay the amounts due to us, or are fully
            discharged by Mahavikreta of all your Payment Obligations, whichever is later. Your obligation hereunder
            will not be discharged, impaired or otherwise be affected by receipt of any notice thereof or of winding-up
            or liquidation of you or the entity that you represent.



          </li>
          <li>No delay in exercising or omission to exercise any right, power or remedy accruing/available to us upon
            default on your part will impair or prejudice any of our right, power or remedy or shall be construed to be
            a waiver thereof or any acquiescence therein, and any single or partial exercise of any right, power or
            remedy hereunder shall not preclude the further exercise thereof and every right and remedy available to us
            will continue in full force and effect until such right, power or remedy is specifically waived by an
            instrument in writing executed by us.

          </li>
          <li> All payment to be made by you under this Agreement will be made (a) in INR; (b) via such medium as
            informed to you from time to time in writing; and (c) free and clear of and without deduction for any taxes,
            levies, duties, charges, fees, deductions, withholdings, conditions or restrictions whatsoever. </li>
          <li>
            You hereby represent and warrant that:
          </li>
          <ol type="a">
            <li>you have full legal right, power and authority to enter into this Agreement and to perform the
              obligations provided here under;</li>
            <li>this Agreement will be valid and the obligations are binding on you and enforceable in accordance with
              its respective terms and the person/persons executing this Agreement, is/are duly and properly authorized
              to execute the same;</li>
            <li>neither the delivery of this Agreement, nor the fulfilment nor compliance with the terms and provisions
              hereof, will conflict with, or result in a breach of any agreement with any third party;</li>
            <li>no steps have been taken by you or your shareholders nor have any legal proceedings been initiated or,
              to the best of your knowledge and belief, threatened against you for your (or the entity you represent)
              dissolution, winding-up, liquidation or reorganization or for appointment of a receiver, trustees or
              similar officer of your undertaking or assets or any of them;</li>
            <li>you are not in breach of or in default with respect to an obligation to pay tax or any agreement to
              which you are a party to or by which you may be bound to any degree which could have a material adverse
              effect on your business, assets, financial conditions or creditworthiness or which might put into question
              the validity, enforceability or performance of this Agreement or any of its provisions;</li>
            <li>there are no claims being asserted and no investigation, actions or proceeding pending or threatened
              against you, whether by banks, financial institution, creditors, etc., which would or would likely to have
              a materially adverse effect on your business, assets, financial conditions or creditworthiness or which
              might put into question the validity, enforceability or performance of this Agreement or any of its
              provisions;</li>

            <li>you have obtained and will hold and fully comply with all required licenses, permits, permissions,
              consents and approvals required in connection with the performance of this Agreement; and</li>
            <li> your obligations towards us, as provided in this Agreement, will be construed to be a continuing
              security, extending at all times to cover the sums of money constituting the balance due from you to us
              resulting from default of your Payment Obligations.
              In the event any of the aforesaid representation or warranty is found to be incorrect, we may, at our sole
              discretion, discontinue forthwith the Guarantee, provided, however, such discontinuation will not affect
              your obligations which have already arisen as a result of us making a Disbursement to Mahavikreta prior to
              such discontinuation.
            </li>

          </ol>
          <li>. The Guarantee provided is subject to our review at any time. Further, if due to change in any
            circumstances we determine (at our sole discretion) that such changed circumstances is prejudicial to our
            interests, we will, at our sole discretion, discontinue or amend forthwith the Guarantee, provided, however,
            such discontinuation or amendment will not affect your obligations which have already arisen as a result of
            us making a Disbursement to Mahavikreta prior to such discontinuation or amendment.</li>

          <li>You will treat this Agreement as confidential and its contents may be disclosed to your officers,
            employees and representatives on a need to know basis and who have a contractual, legal, ethical or
            professional duty to maintain the confidence of this Agreement. This clause shall not apply to instances
            where you are required to disclose the contents of this Agreement to comply with applicable laws or
            governmental regulations or an order of a competent court, provided you provide us with prior written notice
            of such disclosure and take reasonable lawful actions to minimize the extent of disclosure.
            <br /><br />Further, you will not, without our prior written consent, issue press releases or other
            publicity relating to this Agreement, or refer to us in promotional materials.
          </li>
          <li>Neither Party will assign or transfer any of their rights and/or obligations under this Agreement to any
            third party. Any attempt to assign in violation of this cause 12 is void in each instance. </li>
          <li>All notices and demands required or permitted to be given or made hereunder will be in writing and
            effective: (a) when delivered personally, (b) three business days after sending by speed post, (c) on the
            business day after sending by a nationally recognized courier service, or (d) on the business day after
            sending by facsimile with electronic confirmation to the sender. Notices to you will be delivered at your
            address available with us. </li>
          <li>You will pay to us, on demand, all costs, charges, fees and expenses (including reasonable attorney fees)
            incurred by us or on our behalf in administration or enforcement of this Agreement and any related liability
            or security. </li>
          <li>Our rights and remedies under this Agreement are cumulative and we may enforce any of our rights or
            remedies under this Agreement or other rights or remedies available to us at law or in equity. </li>
          <li>This Agreement is governed by the laws of India, without reference to any conflict of law rules. Both the
            Parties agree to submit to the exclusive jurisdiction of the courts at Indore, India for disputes arising
            out of this Agreement. </li>
        </ol>
      </div>
    </div>
  </section>
