<style>
  .back {
    font-size: 48px;
    color: black;
    margin-top: 20px
  }

  .titles {
    margin-top: 10px;
  }
  .head{
    margin-top: 20px;
  }
</style>

<section id="service" class="services-mf route">
  <div class="container">
    <a routerLink="/home">
      <i class="fa fa-arrow-circle-left back"></i>
    </a>
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a titles">
            Privacy Policy
          </h3>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="container"
      style="background-color: 'white';  padding: 60px; border-radius: 20px; margin-bottom: 100px; text-align: justify;">
      <p class="head">Mahavikreta.com knows that you care how information about you is used and shared
        and we appreciate your trust in us to do that carefully and sensibly. This notice describes the privacy policy
        of Mahavikreta.com. By visiting Mahavikreta.com, you are accepting and consenting to the practices described
        in this Privacy Notice.</p>
      <p class="head;">Any personal information provided to or gathered by GA Trade Links Private Limited
        under this Privacy Notice will be stored and controlled by GA Trade Links Private Limited.</p>
      <h2 style="margin-bottom: 30px; margin-top: 30px; font-size: 18px;">What Personal Information About Customers
        Does Mahavikreta.com Gather?</h2>
      <p class="head">We use your information in handling your orders, delivering products and processing
        payments, communicating with you about orders, products and promotional offers with respect to our App and
        WhatsApp Business app, update our records and generally maintain your accounts with us, display content and
        recommend products that might be of interest to you. We also use this information to improve our platform,
        prevent or detect fraud or abuses of our services or website and enable third parties to carry out technical,
        logistical, due diligence or other functions on our behalf</p>
      <h2 style="margin-bottom: 30px; margin-top: 30px; font-size: 18px;">Here are the types of information we gather:
      </h2>
      <ol>
        <li><b>Information You Give Us:</b> We receive and store any information you enter on our app or give us in
          any other way. You can choose not to provide certain information but then you might not be able to take
          advantage of many of our features. We use the information that you provide for such purposes as responding
          to your requests, customising future purchases for you, improving our platform, and communicating with you.
        </li>
        <li><b>Automatic Information:</b> we receive and store certain types of information whenever you interact with
          us. For example, like many websites, we use "cookies" and we obtain certain types of information when your
          Web browser accesses Mahavikreta.com or advertisements and other content served by or on behalf of
          Mahavikreta.com on other web sites.</li>
        <li>
          <b>E-mail Communications: </b>to help us make e-mails more useful and interesting, we often receive a
          confirmation when you open e-mail from Mahavikreta if your computer supports such capabilities. We also
          compare our customer list to lists received from other companies in an effort to avoid sending unnecessary
          messages to our customers. If you do not want to receive e-mail or other mail from us, please unsubscribe
          from these emails.
        </li>
        <li>
          <b>Information from Other Sources:</b> We might receive information about you from other sources and add it
          to our account information.
        </li>
      </ol>
      <div class="container" style="border: 1px solid coral; border-radius: 10px; margin-top: 20px; padding: 30px">
        <p>By using or continuing to use the site you agree to our use of your information (including sensitive
          personal information) in accordance with this Privacy Notice, as may be amended from time to time by
          Mahavikreta.com in its discretion. You also agree and consent to us collecting, storing, processing,
          transferring and sharing information (including sensitive personal information) related to you with third
          parties or service providers for the purposes as set out in this Privacy Notice</p>
        <p>We may be required to share the aforesaid information with government authorities and agencies for the
          purposes of verification of identity or for prevention, detection, investigation including cyber incidents,
          prosecution and punishment of offences. You agree and consent for Mahavikreta.com to disclose your
          information, if so required under the applicable law.</p>
      </div>
      <h2 style="margin-bottom: 30px; margin-top: 30px; font-size: 18px;">What about Cookies?
      </h2>
      <ul>
        <li>Cookies are alphanumeric identifiers that we transfer to your computer's hard drive through your Web
          browser to enable our systems to recognise your browser and storage of items in your Cart between visits.
        </li>
        <li>The Help menu on the menu bar of most browsers will tell you how to prevent your browser from accepting
          new cookies, how to have the browser notify you when you receive a new cookie and how to disable cookies
          altogether. Additionally, you can disable or delete similar data used by browser add-ons, such as Flash
          cookies, by changing the add-on's settings or visiting the website of its manufacturer. However, because
          cookies allow you to take advantage of some of Mahavikreta.com's essential features, we recommend that you
          leave them turned on. For instance, if you block or otherwise reject our cookies, you will not be able to
          add items to your Cart, proceed to Checkout, or use any Mahavikreta.com products that require you to Sign
          in.</li>
        <li>If you do leave cookies turned on, be sure to sign off when you finish using a shared computer.</li>
      </ul>
      <h2 style="margin-bottom: 30px; margin-top: 30px; font-size: 18px;">Does Mahavikreta.com Share the Information
        It Receives?
      </h2>
      <ul>
        <li><b>Third Party Service Providers:</b> We may employ other companies and individuals to perform functions
          on our behalf. Examples include fulfilling orders, delivering packages, sending postal mail and e-mail to
          our customers, processing credit card payments, collecting payments and providing customer service. They
          have access to personal information needed to perform their functions, but may not use it for other
          purposes. Further, they must process the personal information in accordance with this Privacy Notice and as
          permitted by the applicable law.</li>
        <li><b>Third Parties:</b> We may share your information with other parties (including service providers,
          vendors and brands), in order for them to conduct due diligence of your information, contact you and/or
          arrange for you to receive certain customized payment options on Mahavikreta.com, and enable you to receive
          customized promotions and incentives relating to the products purchased by you on Mahavikreta.com.</li>
        <li><b>Promotional Offers:</b> Sometimes we send offers to selected groups of Mahavikreta.com customers. If
          you do not want to receive such offers, please unsubscribe from these email offers.</li>
        <li><b>Protection of Mahavikreta.com and Others:</b> We release account and other personal information when we
          believe release is appropriate to comply with the law; enforce or apply our Conditions of Use and other
          agreements; or protect the rights, property or safety of Mahavikreta.com , our customers or others. This
          includes exchanging information with other companies, organisations, government or regulatory authorities
          for fraud protection and credit risk reduction. Obviously, however, this does not include selling, renting,
          sharing or otherwise disclosing personally identifiable information from customers for commercial purposes
          in a way that is contrary to the commitments made in this Privacy Notice.</li>
        <li><b>With your consent: </b>Other than as set out above, you will receive notice when information about you
          might go to third parties and you will have an opportunity to choose not to share the information.</li>
      </ul>
      <div class="container"
        style="border: 1px solid coral; border-radius: 10px; margin-top: 20px; padding: 30px; width: 500px">
        <p>Whenever we transfer personal information in the course of sharing information as set out above, we will
          ensure that the information is transferred in accordance with this Privacy Notice and as permitted by the
          applicable laws including but not limited to Information Technology Act, 2000 and the rules framed
          thereunder.</p>

      </div>
      <h2 style="margin-bottom: 30px; margin-top: 30px; font-size: 18px;">How Secure Is Information About Me?
      </h2>
      <ul>
        <li>We work to protect the security of your information during transmission by using Secure Sockets Layer
          (SSL) software, which encrypts information you input in addition to maintaining security of your information
          as per the International Standard IS/ISO/IEC 27001 on "Information Technology Security Techniques
          Information Security Management System-Requirements".

        </li>
        <li>We reveal only the last four digits of your credit card numbers when confirming an order. Of course, we
          transmit the entire credit card number to the appropriate credit card company during order processing.</li>
        <li>We maintain physical, electronic and procedural safeguards in connection with the collection, storage and
          disclosure of personal information (including sensitive personal information). Our security procedures mean
          that we may occasionally request proof of identity before we disclose personal information to you.

        </li>
        <li>It is important for you to protect against unauthorised access to your password and to your computer. Be
          sure to sign off when you finish using a shared computer</li>
      </ul>
      <h2 style="margin-bottom: 30px; margin-top: 30px; font-size: 18px;">What About Third-Party Advertisers and Links
        to Other Websites?
      </h2>
      <p>Our site may include third-party advertising and links to other Web sites. We do not provide any personally
        identifiable customer information to these advertisers or third-party Web sites.</p>
      <p>These third-party websites and advertisers, or Internet advertising companies working on their behalf,
        sometimes use technology to send (or "serve") the advertisements that appear on our website directly to your
        browser. They automatically receive your IP address when this happens. They may also use cookies, JavaScript,
        web beacons (also known as action tags or single-pixel gifs), and other technologies to measure the
        effectiveness of their ads and to personalise advertising content. We do not have access to or control over
        cookies or other features that they may use, and the information practices of these advertisers and
        third-party websites are not covered by this Privacy Notice. Please contact them directly for more information
        about their privacy practices. In addition, the Network Advertising Initiative offers useful information about
        Internet advertising companies (also called "ad networks" or "network advertisers"), including information
        about how to opt-out of their information collection.</p>
      <p>Mahavikreta.com may also display personalised third-party advertising based on personal information about
        customers, such as purchases on Mahavikreta.com.</p>
      <p>Although Mahavikreta.com does not provide any personal information to advertisers, advertisers (including
        ad-serving companies) may assume that users who interact with or click on a personalised advertisement meet
        the criteria used to personalise the ad.</p>
      <h2 style="margin-bottom: 30px; margin-top: 30px; font-size: 18px;">What Information Can I Access?
      </h2>
      <p>Mahavikreta.com gives you access to a broad range of information about your account and your interactions
        with Mahavikreta.com for the limited purpose of viewing and, in certain cases, updating that information. This
        list will change as our website evolves.</p>

      <h2 style="margin-bottom: 30px; margin-top: 30px; font-size: 18px;">What Choices Do I Have?
      </h2>
      <ul>
        <li>As discussed above, you can always choose not to provide information, even though it might be needed to
          make a purchase or to take advantage of such Mahavikreta.com features as Your Profile.</li>
        <li>You can add or update certain information on pages such as those referenced in the Which Information Can I
          Access? section. When you update information, we usually keep a copy of the previous version for our
          records.</li>
        <li>If you do not want to receive e-mail or other mail from us, please unsubscribe from these emails. (If you
          do not want to receive Conditions of Use and other legal notices from us, such as this Privacy Notice, those
          notices will still govern your use of Mahavikreta.com and orders placed with Mahavikreta.com, and it is your
          responsibility to review them for changes.)</li>
        <li>The Help menu on the menu bar of most browsers will tell you how to prevent your browser from accepting
          new cookies, how to have the browser notify you when you receive a new cookie and how to disable cookies
          altogether. Additionally, you can disable or delete similar data used by browser add-ons, such as Flash
          cookies, by changing the add-on's settings or visiting the website of its manufacturer.</li>
      </ul>
      <div class="container"
        style="border: 1px solid coral; border-radius: 10px; margin-top: 20px; padding: 30px; width: 700px">
        <p>However, because cookies allow you to take advantage of some of Mahavikreta.com’s essential features, we
          recommend that you leave them turned on. For instance, if you block or otherwise reject our cookies, you
          will not be able to add items to your Cart, proceed to Checkout, or use any Mahavikreta.com products that
          require you to Sign in.</p>

      </div>
      <h2 style="margin-bottom: 30px; margin-top: 30px; font-size: 18px;">What Choices Do I Have?
      </h2>
      <p>If you have any concern about privacy or grievances at Mahavikreta.com, please contact us with a thorough
        description and we will try to resolve the issue for you.</p>
      <p>Our business changes constantly and our Privacy Notice and the Conditions of Use will change also. We may
        e-mail periodic reminders of our notices and conditions, unless you have instructed us not to, but you should
        check our website frequently to see recent changes.</p>
      <p>Unless stated otherwise, our current Privacy Notice applies to all information that we have about you and
        your account.</p>
      <h2 style="margin-bottom: 30px; margin-top: 30px; font-size: 18px;">Examples of Information Collected
      </h2>
      <h5 style='text-align: "center"; color: coral; opacity: 0.8;'>Information You Give Us</h5>
      <p>You provide most such information when you search, buy, or communicate with customer service. For example,
        you provide information when you: search for a product; place an order through Mahavikreta; provide
        information in Your Account; communicate with us by phone, e-mail or otherwise. As a result of those actions,
        you might supply us with such information as: your name; address and phone number; credit card information;
        e-mails to us; and financial information.</p>
      <h5 style='text-align: "center"; color: coral; opacity: 0.8;'>Automatic Information</h5>
      <p>Examples of the information we collect and analyse include: the Internet protocol (IP) address used to
        connect your computer to the Internet; login; e-mail address; password; computer and connection information
        such as browser type and version; operating system and platform; purchase history, which we sometimes
        aggregate with similar information from other customers to create certain features; the full Uniform Resource
        Locators (URL) clickstream to, through and from our website (including date and time); cookie number; products
        you viewed or searched for; and any phone number used to call our customer service number. We may also use
        browser data such as cookies, Flash cookies (also known as Flash Local Shared Objects), or similar data on
        certain parts of our website for fraud prevention and other purposes. During some visits we may use software
        tools such as JavaScript to measure and collect session information, including page response times, download
        errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and
        mouse-overs), and methods used to browse away from the page.</p>
      <h5 style='text-align: "center"; color: coral; opacity: 0.8;'>Information You Can Access</h5>
      <p>Examples of information you can access easily at Mahavikreta.com include: up-to-date information regarding
        recent orders; personal information (including name, e-mail, password, communications and address book);
        payment settings (including credit-card information); e-mail notification settings (including Alerts, Delivery
        notifications, Recommended for You and newsletters).</p>

    </div>
  </div>

</section>